.white_button{
    padding: 3px 12px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    border: 2px solid $brand_orange;
    a{
        color: $brand_orange;
    }
    a:hover{
    text-decoration: none;      
    }
}

.orange_button{
    padding: 3px 12px;
    background-color: $brand_orange;
    border-radius: 10px;
    text-align: center;
    border: 2px solid $brand_orange;
    a{
        color: white;
    }
    a:hover{
    text-decoration: none;      
    }
}



.extra_button{
    padding: 9px 14px;
    border-radius: 5px;
    background-color: transparent;
    text-align: center;
    border: 2px solid white;
    a{
        color: white;
    }
    a:hover{
    text-decoration: none;      
    }
}

.search_button{
    padding: 5px 25px;
    background-color: $brand_orange;
    border-radius: 7px;
    text-align: center;
    border: 2px solid $brand_orange;
    a{
        color: white;
    }
    a:hover{
    text-decoration: none;      
    }
}

.button_create{
    background-color: $brand_orange;
    padding: 12px 18px;
    border-radius: 10px;
    color: white;
    border-style: none;
}

.button_create:hover{
    color: black;
}




// BUTTONS <button>
.btn_bool {
    padding: 8px 16px;
    border-radius: 10px;
}

.btn_primary {
    padding: 8px 20px;
    background-color: $brand_orange;
    color: white;
    border: 0; 

    &:hover {
        background-color: $background_one;

    }
}

.btn_outline {
    border: 1px solid $brand_orange;
    color: $brand_orange;
    background-color: white;

    &:hover {
        background-color: $background_one;
        color: white;
        text-decoration: none;
    }
}

.link_bool {
    cursor: pointer;
}
