*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: white;
}

.search-container{
    height: 190px;
    background-color: white;
    border-radius: 20px;
    transform: translate(50%, -95px);
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    .search_bar{
        border-radius: 15px;
        border: solid 2px $brand_orange;
    }

}

input, button, select, optgroup, textarea {
    font-family: initial;
}

.text_align_center{
    text-align: center;
}

.d_inline_b{
    display: inline-block;
}

.sfumatura_nera{
    height: 210px;
    // background: linear-gradient(0deg, black, transparent);
    background-color: black;
}

.w-100x{
    width: 100%;
}

.w-80x{
    width: 80%;
}

input, button, select, optgroup, textarea {
    font-family: initial;
}

