
.display_flex{
    display: flex;
}
.justify_content_sa{
    justify-content: space-around;
}

.justify_content_ce{
    justify-content: center;
}

.align_item_c{
    align-items: center;
}

.flex_grow_1{
    flex-grow: 1;
}

.flex_wrap{
    flex-wrap: wrap;
}

