//Dettaglio appartamento privato
.details-apartament{
    section{
        padding: $spacing *3 0;
    }
    .details{
        h2{
            padding-bottom: 20px;
        }
        h4{
            border-bottom: 1px solid gray;
            padding-bottom: 5px;
        }
    }
    .service_right{
        background-color: #ffd8cc;
        border-radius: 42px;
    }

}

.details{
    .padx{
        padding-top: 15px;
    }
}


//INDEX MESSAGGI
h1 {
    color: $text_colorOne;
    padding: $spacing*2 0;

}

.my-no-msg {

    h1 {
        padding: $spacing*3 0;
    }

    .my-img-container {
        // width: 35vw;
        padding-bottom: $spacing*2;
    }

}




