// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//Brand Colors
$brand_orange: #FF8964;
$brand_grey: #5C5B62;

//Primary color
$primary_color: #FF9E80;

//Secondary color
$secondary_color: #96959D;

//Text colors
$text_colorOne: #5C5B62;
$text_colorTwo: #706F77;
$text_colorThree: #B0B0B5;
$text_colorFour: #F2F2F3;

//Background Colors
$background_one: #FF9E80;
$background_two: #FFC5B3;
$background_three: #FFD8CC;
$background_four: #5C5B62;
$background_five: #F2F2F3;

//Functional colors
$functional_one: #E27770;
$functional_two: #9EC5B9;
$functional_three: #FFD8CC;

//Utilities variables
$spacing: 20px;

//Tipography
$font-size-display: 60px;

//Headings
$heading1: 48px;
$heading2: 34px;
$heading3: 24px;
$heading4: 20px;
$heading5: 16px;
$heading6: 14px;

$heading1small: 34px;
$heading2small: 24px;
$heading3small: 20px;
$heading4small: 16px;
$heading5small: 14px;
$heading6small: 12px;

//Paragraph
$bodyLarge: 16px;
$bodySmall: 14px;

$captionLarge: 12px;
$captionSmall: 11px;
$footerFont: 10px;

$box_shadow: 5px 0px 10px $text_colorThree;

